body{
    background-color: rgba(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.darkmode{
    background-color: rgb(0, 0, 0);
    color: #eee;
}

.destinysvg{
    width: 172px;
    margin: 1px;
}

.destinytray{
    display: inline-block;
}

.counterimg{
    background-size: 90px;
    width: 90px;
    height: 90px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.countertxt{
    color: #eee;
    font-weight: bold;
    font-size: 62px;
    -webkit-text-stroke: 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterheading{
    margin: 0px;
    color: #eee;
    font-weight: bold;
    font-size: 36px;
    -webkit-text-stroke: 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinytracker{
    display: inline-block;
    padding-right: 10px;
}

.destinypoint{
    display: inline;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}

.maincont{
    display: flex;
    align-items: center;
    margin-bottom: 300px;
}

.button {
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.buttong {
    background-color: rgb(215, 255, 215);
    color: black;
    border: 2px solid #4CAF50;
}
  
.buttong:hover {
    background-color: #4CAF50;
    color: white;
}
  
.buttonr {
    background-color: rgb(255, 215, 215);
    color: black;
    border: 2px solid #ba0000;
}
  
.buttonr:hover {
    background-color: #ba0000;
    color: white;
}

.buttonu {
    background-color: rgb(215, 215, 255);
    color: black;
    border: 2px solid #008CBA;
}
  
.buttonu:hover {
    background-color: #008CBA;
    color: white;
}
  
.eye {
    /* SOURCE: https://codepen.io/wentin/pen/mezPVw */
    background-color: #4d4d4d;
    width: 16px;
    height: 16px;
    border: solid 2px #000;
    border-radius: 75% 15%;
    position: relative;
    transform: rotate(45deg);
}
.eye:before {
    /* SOURCE: https://codepen.io/wentin/pen/mezPVw */
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border: solid 1px #000;
    border-radius: 50%;
    left: 4px;
    top: 4px;
}

.topleft{
    position: absolute;
    top: 0px;
    left: 0px;
}
.topright{
    position: absolute;
    top: 0px;
    right: 0px;
}
.bottomleft{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.bottomright{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.eyemover{
    width: 70px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(209, 209, 209);
    border: 2px solid #4d4d44
}

.buttoncontainer{
    margin: 6px;
    display: inline-block;
}

.keybindcontainer{
    margin: 6px;
    display: inline-block;
}

.keybindtable{
}

.keybindtable td{
    padding: 6px 12px;
}