/* App styles -- Created by Ryan Miller https://aerilym.github.io/ */

.destinysvg{
    width: 172px;
    margin: 1px;
}

.destinytray{
    display: inline-block;
}

.counterimg{
    background-size: 90px;
    width: 90px;
    height: 90px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.countertxt{
    color: #eee;
    font-weight: bold;
    font-size: 62px;
    -webkit-text-stroke: 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterheading{
    margin: 0px;
    color: #eee;
    font-weight: bold;
    font-size: 36px;
    -webkit-text-stroke: 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinytracker{
    display: inline-block;
    padding-right: 10px;
}

.destinypoint{
    display: inline;
}