/* General main styles -- Created by Ryan Miller https://aerilym.github.io/ */

body{
    background-color: rgba(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.darkmode{
    background-color: rgb(0, 0, 0);
    color: #eee;
}

a:link, a:visited {
    color: #002938;
    text-decoration: none;
}
  
a:link:active, a:visited:active {
    color: #00445a;
}
body.darkmode  a:link, a:visited {
    color: #01a6dd;
}
  
body.darkmode a:link:active, a:visited:active {
    color: #00b1ec;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}

.maincont{
    display: flex;
    align-items: center;
}

.button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 11px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.buttong {
    background-color: rgb(215, 255, 215);
    color: black;
    border: 2px solid #4CAF50;
}
  
.buttong:hover {
    background-color: #4CAF50;
    color: white;
}
  
.buttonr {
    background-color: rgb(255, 215, 215);
    color: black;
    border: 2px solid #ba0000;
}
  
.buttonr:hover {
    background-color: #ba0000;
    color: white;
}

.buttonu {
    background-color: rgb(215, 215, 255);
    color: black;
    border: 2px solid #008CBA;
}
  
.buttonu:hover {
    background-color: #008CBA;
    color: white;
}


.topleft{
    position: absolute;
    top: 0px;
    left: 0px;
}
.topright{
    position: absolute;
    top: 0px;
    right: 0px;
}
.bottomleft{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.bottomright{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.eyemover{
    width: 70px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(209, 209, 209);
    border: 2px solid #4d4d44
}

.buttoncontainer{
    margin: 6px;
    display: inline-block;
}

.keybindcontainer{
    margin: 6px;
    display: inline-block;
    margin-left: 20px;
}

.keybindtable td{
    padding: 6px 12px;
    text-align: center;
}

.keybindtable th{
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.symbolcontrol{
    font-size: larger;
    width: 60px;
}

.usedcountercontrol{
    width: 100px;
}

.marginsplit{
    margin-top: 100px;
}
.marginsplit2{
    margin-top: 335px;
}

.buttonblock{
    float: left;
    margin: 10px;
}

.buttonblock h2{
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
}

.buttonblock h3{
    margin-top: 6px;
    margin-bottom: 1px;
    font-size: 16px;
}

.buttonf{
    width: 140px;
}

.buttonmove{
    width: 170px;
}

.hideitem{
    display: none;
}

.eyebtn {
    color: #4d4d4d !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: relative;
    padding: 4px;
  }
  
.eyebtn:hover, .eyebtn:focus {
color: #7e7e7e !important;
}

.buttonupload{
    margin: 0;
    padding: 4px 16px;
    height: fit-content;
    position: absolute;
    width: 131px;
}

.placeholdercustom{
    padding: 0px !important;
    width: 167px;
    height: 163px;
}

.urlinput{
    margin: 0;
    height: fit-content;
    position: absolute;
    width: 163px;
}

.urlinput input{
    width: 158px
}

.urlinput input{
    width: 158px
}